/* Estilos generales */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-color: rgb(0, 0, 0, 0.5); /* Añade una capa de color negro semi-transparente */
}

/* Estilos para el logo */
.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; /* Espacio alrededor del logo */
    z-index: 1; /* Coloca el logo encima del contenido */
    
}

.logo-container img {
    width: 100px; /* Tamaño fijo del logo */
    height: 100px;
}

header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color de texto del encabezado */
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(2, 2, 2, 0.900);
    box-shadow: 0px 0px 10px rgb(169, 179, 40);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Distribución de columnas flexibles */
    gap: 20px; /* Espacio entre elementos */
    color: rgb(177, 185, 55);
}

.plato {
    background-color: #8a855bde; /* Color de fondo de cada plato */
    border: 1px solid #e7c1c1; /* Borde suave */
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s ease; /* Animación de transformación al pasar el mouse */
}

.plato:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.plato img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.plato h2 {
    font-size: 24px;
    margin-top: 10px;
    color: #464040; /* Color de texto oscuro */
}

.plato p {
    font-size: 16px;
    margin-top: 10px;
    color: #000000; /* Color de texto más claro */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

/* Enlaces */
a {
    color: #333; /* Color de enlaces oscuro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
